<%= form_with(model: po) do |form| %>
  <% if po.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(po.errors.count, "error") %> prohibited this po from being saved:</h2>

      <ul>
        <% po.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<a href="#" data-hx-get="<%= url_for(action: 'fetch_pokemonx') %>" data-hx-target="#pokemon-l">Load Pokemon HTMX</a>

<button data-hx-post="<%= url_for(controller: 'pokemon', action: 'clear_pokemon') %>" data-hx-target="#pokemon-l">Clear Pokemon HTMX</button>


<div id="pokemon-l">

  
</div>